<div class="modal fade confirm" tabindex="-1" id="permanent" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p><strong>Warning! You are about to perform an action that cannot be undone.</strong></p>

                <h4>Are you sure you want to continue?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, take me back!</button>
                <button type="button" class="btn btn-danger" data-trigger>Yes, continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->