layout: account
title: "{{ appName }}: Patrons"

===

<h3>Patrons</h3>
<h4>Thank you so much for your contributions!</h4>

<hr />

<table class="table table-striped">
    <thead>
    <tr>
        <th>Patron</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>