layout: account
title: "{{ appName }}: Patrons"

===

<h3>Patrons</h3>
<h4>Thank you so much for your contributions!</h4>

<hr />

<table class="table table-striped">
    <thead>
    <tr>
        <th>Patron</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Infinitum</td>
    </tr>
    <tr>
        <td>JiSe</td>
    </tr>
    <tr>
        <td>Onyx</td>
    </tr>
    <tr>
        <td>Treks</td>
    </tr>
    <tr>
        <td>Sunstone</td>
    </tr>
    <tr>
        <td>Quaxotic</td>
    </tr>
</tbody>
</table>