<div class="alert alert-danger">
    <h4>Your account has been suspended!</h4>
    You no longer have a voucher of good standing in {{ appName }}. Your account has automatically been suspended until
    someone else vouches for you. During this time you can log still in to the site, but you're unable to post or vouch
    for others. Please note that suspension is not a ban and will be instantly revoked when your standing is improved.
</div>