layout: message
title: You have been banned

===

<h3>Your account or IP has been banned</h3>

<p>You have been deemed unwelcome in the community. Your ban will last until
    <strong>{{ auth_user().ban.until }}</strong>.</p>
