layout: message
title: Thank you!

===

<h3>Thank you for registering!</h3>

<p>Please wait while a moderator activates your account. We will send you another email when the registration is
    complete.</p>
