<p><strong>{{ user }} {% if isNew %}has started a conversation with you{% else %}responded with{% endif %}:</strong></p>
{{ text|raw }}
<hr />
<p><a href="{{ link }}">Click here to view the conversation</a></p>