<p><strong>Welcome back, {{ user }}!</strong></p>
<p>Your account is no longer suspended in {{ app }}! We're glad to see you back and invite you to join the conversation
    again. </p>
<p><a href="{{ link }}">Click here to log to {{ app }}!</a></p>
<p>Sincerely,<br/>the Staff</p>