<p><strong>Dear {{ user }},</strong></p>
<p>You no longer have a voucher of good standing in {{ app }}. Your account has automatically been suspended until
    someone else vouches for you. During this time you can log still in to the site, but you're unable to post or vouch
    for others. Please note that <strong>suspension is not a ban</strong> and will be instantly revoked when your
    standing is improved.</p>
<p>Sincerely,<br/>the Staff</p>